# A * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.yml
!.gitignore
!*.md
!./config
./config/*
!./config/letsencrypt/
./config/letsencrypt/*
!./config/letsencrypt/.donoteditthisfile.conf
./config/letsencrypt/nginx/proxy-confs/*
!./config/letsencrypt/nginx/proxy-confs/*.conf




#!config/letsencrypt/.donoteditthisfile.conf
#!config/letsencrypt/.donoteditthisfile.conf
#!config/letsencrypt/nginx/proxy-confs/*.conf
